@model List<TeamMember>;
@{
    int count = 1;
}
<a asp-controller="TeamMembers" asp-action="Create" type="button" class="btn btn-success m-3" style="width:100px" >Create</a>
<table  class="table">
  <thead>
    <tr>
      <th scope="col">Count</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
        @foreach(TeamMember teamMember in Model)
        {
            <tr>
              <th>@count</th>
              <td>@teamMember.Name</td>
              <td>@teamMember.Position</td>
              <td><img src="~/assets/img/team/@teamMember.ImagePath" class="img-fluid" alt=""></td>
              <td><a  asp-controller="TeamMembers" asp-action="Details"   asp-route-id="@teamMember.Id"  class="btn btn-primary" >Details</a></td>
              <td><a  asp-controller="TeamMembers" asp-action="Update"   asp-route-id="@teamMember.Id"  class="btn btn-warning" >Update</a></td>
              <td><a  asp-controller="TeamMembers" asp-action="Delete"   asp-route-id="@teamMember.Id"  class="btn btn-danger" >Delete</a></td>

            </tr>

            count++;
        }

  </tbody>
</table>